body {
	counter-reset: ctest;

	margin: 0;

	text-align: center;
}

h1 {
	counter-increment: ctest;
	background-color: #fbb;
	display: table;
}

h1::before {
	content: "[" counter(ctest) "]";
}

.nav {
	border: 4px solid #bfb;
	counter-reset: ctest;

	width: auto;
	display: inline-block;
}
