body {
	background-color: #262626;
	color: #f0f0f0;
	margin: 0; padding: 0;
	height: 100vh;
}

#worldsContainer {
	/*background-color: rgba(0,0,0,0.2);*/
	font-size: 1.5em;
	text-align: center;

	width: 100%;

	position: absolute;
	top: 40%;
	transform: translateY(-40%);
}

.worldContainer {
	height: auto;
	margin: 1em 1.3em;
	width: auto;
	display: inline-block;
	vertical-align: bottom;
}

.world {
	font-family: Monaco, "monospace";
	line-height: 0.83em!important;
	font-size: 0.6em;
	margin:0px;
}

/* =World colors
 * ------------------------------------------------------------ */
.world			{ background: #374135; color: #aaa; }
.colorWall		{ color: #262520; }
.colorNature	{ color: #55aa55; }
.colorAnimal	{ color: #8f6b49; }
.colorCharacter	{ color: #aaaa55; }
